/* FIXING MOBILE NAV ELEMENTS for WEB VIEW */
#click-here{
    display: none;
}
#close-nav{
    display: none;
}
nav ul li{
    list-style: none;
    display: inline;
}

#big-logo{
    display: block;
}
#small-logo{
    display: none;
}
.active{
    background-color: black;
}
.subnav1, .subnav2, .subnav3{
    display: none;
    margin-left: 50px;
}

