/* Mobile view */
@media screen and (min-width: 300px) and (max-width: 799px) {
	header{
	    
	}
	#big-logo{
	    display: none;
	}
	#small-logo{
	    display: block;
	}
	#search-box{
	    display: none;
	}
	/* MOBILE NAVIGATION MENU */
	#click-here{
	    display: inline;
	}
	#close-nav{
	    display: inline;
	}
	nav ul li{
	    list-style: none;
	}
	.mobilenav {
	    height: 100%;
	    width: 0;/* changes with js */
	    position: fixed; 
	    z-index: 1;
	    top: 0;
	    left: 0;
	    background-color: #111;
	    overflow-x: hidden;
	    padding-top: 60px;
	    transition: 0.5s;
	}

	/* nav menu links */
	.mobilenav a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: #818181;
	    /*display: block;*/
	    transition: 0.3s
	}

	.mobilenav a:hover, .offcanvas a:focus{
	    color: #f1f1f1;
	}

	/* Position and style the close button*/
	.mobilenav .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
	.subnav1, .subnav2, .subnav3{
	    display: none;
	    width: 50px;
	    margin-left: 15px;
	}
  #myDesktopNav {
      display: none;
  }
}
/* END OF SIDE NAVIGATION MENU*/

/* FIXING MOBILE NAV ELEMENTS for WEB VIEW */
#click-here{
    display: none;
}
#close-nav{
    display: none;
}
nav ul li{
    list-style: none;
    display: inline;
}

#big-logo{
    display: block;
}
#small-logo{
    display: none;
}
.active{
    background-color: black;
}
.subnav1, .subnav2, .subnav3{
    display: none;
    margin-left: 50px;
}
/* Desktop Navigation */
#myDesktopNav ul {
    display: inline;
}
#myDesktopNav ul li {
    padding: 16px 32px;
    font-weight: bold;
    color: white;
    background-color: black;
}
#myDesktopNav ul li a {
    text-decoration: none;
}
#myDesktopNav ul li a:active {
    background-color: gray;
}
