/* CSS reset */
* { 
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
}
/* Mobile view */
@media screen and (min-width: 300px) and (max-width: 799px) {
	header{
	    
	}
	#big-logo, #search-box, #dropbar{
	    display: none;
	}
	#small-logo{
	    display: block;
    }
	/* MOBILE NAVIGATION MENU */
	#click-here, #closenav{
	    display: inline;
	}
	nav ul li{
	    list-style: none;
	}
	.mobilenav {
	    height: 100%;
	    width: 0;/* changes with js */
	    position: fixed; 
	    z-index: 1;
	    top: 0;
	    left: 0;
	    background-color: #111;
	    overflow-x: hidden;
	    padding-top: 60px;
	    transition: 0.5s;
	}

	/* nav menu links */
	.mobilenav a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: #818181;
	    /*display: block;*/
	    transition: 0.3s
	}

	.mobilenav a:hover, .offcanvas a:focus{
	    color: #f1f1f1;
	}

	/* Position and style the close button*/
	.mobilenav .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
	.subnav1, .subnav2, .subnav3{
	    display: none;
	    width: 50px;
	    margin-left: 15px;
	}
  /*#myDesktopNav {
      display: none;
  }*/
  	.content {
   	  	width: 100%;
  	}
  	#dropbar {
      	display: none;
 	}
  	#quizform {
  	  	width: 100%;
  	}
}
/* END OF SIDE NAVIGATION MENU*/
@media screen and (min-width: 800px){
    /* FIXING MOBILE NAV ELEMENTS for WEB VIEW */
    #myMobilenav{
        display: none;
    }
    #click-here{
        display: none;
    }
    #close-nav{
        display: none;
    }
    nav ul li{
        list-style: none;
        display: inline;
    }
    
    #big-logo{
        display: block;
    }
    #small-logo{
        display: none;
    }
    .active{
        background-color: black;
    }
    .active2{
        background-color: #00BB00;
    }
    .active3{
        color: #00BB00;
    }
    .subnav1, .subnav2, .subnav3{
        display: none;
        margin-left: 50px;
    }
    #searchbox{
        float: right;
        margin: 15px 10px 0 0;
    }
    #click-here {
        display: none;
    }
}

/* DESKTOP VIEW DROPDOWN NAVIGATION */
/*
@media screen and (min-width > 799px) {
  #click-here {
    display: none;
  }
}<-----THIS is in the wrong place, 
    moving it messes up the css*/
    
#dropbar {
	width: 100%;
	position: absolute;
	top: 0;
}

#dropbar ul {
  	font-family: Helvetica, sans-serif;
  	list-style-type: none;
	overflow: hidden;
	background-color: #333;
}

#dropbar li {
  float: left;
}

li a, .dropbtn {
  	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#dropbar li a:hover, .dropdown:hover .dropbtn {
  background-color: #00BB00;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  box-shadow: 3px 2px 4px #555;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #777;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.highlight {
	background-color: #008800;
}

/* Content CSS */
.content {
  display: block;
  width: 75%;
  margin: 50px auto;
  padding: 5px;
  box-shadow: 2px 1px 3px black;
  border-radius: 4px;
  background-color: #444;
  color: white;

}

.content p {
  padding: 12px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-weight: normal;
  font-family: Monospace;
  font-size: 30px;
  padding: 5px;
}

#logo {
	width: 20%;
	height: 30%;
	float: right;
}

.content b {
  color: #00bb00;
}

/* Footer CSS */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,125,0,0.75);
  color: white;
  text-align: left;
  font-size: 12px;
  padding: 16px 20px;
}

/* Test Form CSS */
#quizform {
	margin: 10px auto;
}

span {
	display: inline-block;
	padding: 2px;
	font-weight: bold;
}

label {
	display: block;
	padding: 4px;
}

input[type=submit] {
	background-color: #009900;
	color: white;
	padding: 12px 16px;
	border: none;
	cursor: pointer;
	position: relative;
}

input[type=submit]:hover {
	padding: 14px 18px;
	background-color: #007700;
}

/* BEGINNER PAGES CSS */
dl {
	margin: 2px auto;
	padding: 5px;
	border: 2px solid black;
}

dt {
	font-weight: bold;
}

dd {
	border-bottom: 1px solid black;
}

dt, dd {
	padding: 1px;
}

